test/blindcontroller_test.json
[{"type":"tab","id":"fcc96017.0336a","label":"Negative Test Cases"},{"type":"tab","id":"6a6caa5b.959354","label":"Orientation"},{"type":"tab","id":"8a56dce5.75a92","label":"Increments"},{"type":"tab","id":"684110b2.97bef","label":"Home"},{"id":"1402c56b.ebfd3b","type":"inject","name":"Invalid Topic","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":85,"z":"fcc96017.0336a","wires":[["45d24594.ba2dbc","4f44fe92.b0bb"]]},{"id":"45d24594.ba2dbc","type":"function","name":"Invalid Topic","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"invalid\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":85,"z":"fcc96017.0336a","wires":[["71bd3911.8e42c8","a6911b3f.596ee8"]]},{"id":"71bd3911.8e42c8","type":"multiblindcontroller","name":"","x":500,"y":85,"z":"fcc96017.0336a","wires":[["a06b1f39.5f94e"]]},{"id":"a06b1f39.5f94e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":715,"y":105,"z":"fcc96017.0336a","wires":[]},{"id":"4f44fe92.b0bb","type":"function","name":"No Topic","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":133,"z":"fcc96017.0336a","wires":[["71bd3911.8e42c8","a6911b3f.596ee8"]]},{"id":"d35a9b7e.2ca568","type":"comment","name":"Invalid Topic","info":"Output message should report error \"blindcontroller.error.unknown-msg-topic\"\n* msg.topic is an unknown value\n* no msg.topic","x":112,"y":30,"z":"fcc96017.0336a","wires":[]},{"id":"a6911b3f.596ee8","type":"blindcontroller","name":"","channel":"1","orientation":"0","noffset":"90","poffset":"90","top":"1","bottom":"0","depth":".5","altitudethreshold":"","increment":"1","temperaturethreshold":"","cloudsthreshold":"","x":498,"y":131,"z":"fcc96017.0336a","wires":[["a06b1f39.5f94e"]]},{"id":"5c33bb76.a3cc44","type":"comment","name":"Invalid Blind Payload","info":"Test cases for blind message:\n* Mandatory attribute missing\n    * channel\n    * orientation\n    * noffset\n    * poffset\n    * top\n    * bottom\n    * depth\n    * increment\n* More than one attribute missing\n* Orientation < 0\n* Orientation > 360\n* Negative Offset < 0\n* Negative Offset > 90\n* Positive Offset < 0\n* Positive Offset > 90\n* Top < 0\n* Bottom < 0\n* Depth < 0\n* Top < Bottom\n* Increment < 0\n* Increment > 100\n* AltitudeThreshold < 0\n* AltitudeThreshold > 90\n* CloudsThreshold < 0\n* CloudsThreshold > 1","x":105,"y":181,"z":"fcc96017.0336a","wires":[]},{"id":"bdbd52c4.4242b","type":"function","name":"Missing Channel","func":"msg.payload = {orientation: 45, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":219,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"4e939c23.b16c64","type":"multiblindcontroller","name":"","x":608,"y":869,"z":"fcc96017.0336a","wires":[["295de90b.d6a216"]]},{"id":"295de90b.d6a216","type":"debug","name":"","active":true,"console":"false","complete":"false","x":791,"y":252,"z":"fcc96017.0336a","wires":[]},{"id":"49941d96.b66be4","type":"inject","name":"Missing channel","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":219,"z":"fcc96017.0336a","wires":[["bdbd52c4.4242b"]]},{"id":"20f905fc.df06fa","type":"function","name":"Missing Orientation","func":"msg.payload = {channel: 1, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":255,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"553c450d.aac3bc","type":"function","name":"Missing noffset","func":"msg.payload = {channel: 1, orientation: 45, poffset: 90,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":291,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"10daa5b5.ef255a","type":"function","name":"Missing poffset","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":327,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"f11fee30.0ee01","type":"function","name":"Missing top","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":362,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"19f40f29.e60bf1","type":"function","name":"Missing bottom","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":397,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"212ece2e.ded132","type":"function","name":"Missing depth","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:0, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":296,"y":432,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"dce8796b.231788","type":"function","name":"Missing increment","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:0, depth:10};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":465,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"64d07131.9b2f9","type":"inject","name":"Missing orientation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122,"y":256,"z":"fcc96017.0336a","wires":[["20f905fc.df06fa"]]},{"id":"6e264197.91d9c","type":"inject","name":"Missing noffset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":293,"z":"fcc96017.0336a","wires":[["553c450d.aac3bc"]]},{"id":"d41016c9.2befe8","type":"inject","name":"Missing poffset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":328,"z":"fcc96017.0336a","wires":[["10daa5b5.ef255a"]]},{"id":"9d2d8d71.62d27","type":"inject","name":"Missing top","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":362,"z":"fcc96017.0336a","wires":[["f11fee30.0ee01"]]},{"id":"11ada033.ee526","type":"inject","name":"Missing bottom","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":397,"z":"fcc96017.0336a","wires":[["19f40f29.e60bf1"]]},{"id":"1194b4b4.ee6b4b","type":"inject","name":"Missing depth","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":431,"z":"fcc96017.0336a","wires":[["212ece2e.ded132"]]},{"id":"a75b832.f58a48","type":"inject","name":"Missing increment","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":464,"z":"fcc96017.0336a","wires":[["dce8796b.231788"]]},{"id":"811c1271.7ee3f","type":"inject","name":"All missing","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":94,"y":498,"z":"fcc96017.0336a","wires":[["24e88841.db1778"]]},{"id":"24e88841.db1778","type":"function","name":"All missing","func":"msg.payload = {};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":287,"y":499,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"6f357d10.90ca84","type":"comment","name":"Invalid Sun","info":"","x":93,"y":1412,"z":"fcc96017.0336a","wires":[]},{"id":"50ed986c.af1268","type":"inject","name":"Missing sunInSky","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112.5,"y":1450,"z":"fcc96017.0336a","wires":[["6afa9c97.950564"]]},{"id":"b26e8ad8.4d9178","type":"inject","name":"Missing azimuth","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108.5,"y":1488,"z":"fcc96017.0336a","wires":[["4de68a09.b21974"]]},{"id":"d587c893.2a7838","type":"inject","name":"Missing altitude","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.5,"y":1521,"z":"fcc96017.0336a","wires":[["78d736e0.8728c8"]]},{"id":"ef0e138a.10f1f","type":"inject","name":"All missing","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90.5,"y":1594,"z":"fcc96017.0336a","wires":[["949e33e2.6b61d"]]},{"id":"6afa9c97.950564","type":"function","name":"Missing sunInSky","func":"msg = { \"topic\": \"sun\", \"payload\": { \"altitude\": 56.80029967413457, \"azimuth\": 72.73564171779199, \"altitudeRadians\": 0.9913522454331105, \"azimuthRadians\": -1.8721162220633787 }, \"_msgid\": \"bdd61d4.f4229e\", \"location\": { \"lat\": \"-37.82103\", \"lon\": \"144.96634\" }, \"time\": \"2015-12-07T23:54:14.682Z\" };\nreturn msg;","outputs":1,"noerr":0,"x":342.5,"y":1451,"z":"fcc96017.0336a","wires":[["65d2f331.9a2d0c","ff422038.00bde"]]},{"id":"7a5e687c.85a198","type":"debug","name":"","active":true,"console":"false","complete":"false","x":790.5,"y":1507,"z":"fcc96017.0336a","wires":[]},{"id":"65d2f331.9a2d0c","type":"multiblindcontroller","name":"","x":597.5,"y":1507,"z":"fcc96017.0336a","wires":[["7a5e687c.85a198"]]},{"id":"4de68a09.b21974","type":"function","name":"Missing azimuth","func":"msg = { \"topic\": \"sun\", \"payload\": { \"sunInSky\": true, \"altitude\": 56.80029967413457, \"altitudeRadians\": 0.9913522454331105, \"azimuthRadians\": -1.8721162220633787 }, \"_msgid\": \"bdd61d4.f4229e\", \"location\": { \"lat\": \"-37.82103\", \"lon\": \"144.96634\" }, \"time\": \"2015-12-07T23:54:14.682Z\" }\nreturn msg;","outputs":1,"noerr":0,"x":337.5,"y":1486,"z":"fcc96017.0336a","wires":[["65d2f331.9a2d0c","ff422038.00bde"]]},{"id":"78d736e0.8728c8","type":"function","name":"Missing altitude","func":"msg = { \"topic\": \"sun\", \"payload\": { \"sunInSky\": true, \"azimuth\": 72.73564171779199, \"altitudeRadians\": 0.9913522454331105, \"azimuthRadians\": -1.8721162220633787 }, \"_msgid\": \"bdd61d4.f4229e\", \"location\": { \"lat\": \"-37.82103\", \"lon\": \"144.96634\" }, \"time\": \"2015-12-07T23:54:14.682Z\" }\nreturn msg;","outputs":1,"noerr":0,"x":335.5,"y":1522,"z":"fcc96017.0336a","wires":[["65d2f331.9a2d0c","ff422038.00bde"]]},{"id":"949e33e2.6b61d","type":"function","name":"All missing","func":"msg = { \"topic\": \"sun\", \"payload\": { \"azimuthRadians\": -1.8721162220633787 }, \"_msgid\": \"bdd61d4.f4229e\", \"location\": { \"lat\": \"-37.82103\", \"lon\": \"144.96634\" }, \"time\": \"2015-12-07T23:54:14.682Z\" }\nreturn msg;","outputs":1,"noerr":0,"x":320.5,"y":1595,"z":"fcc96017.0336a","wires":[["65d2f331.9a2d0c","ff422038.00bde"]]},{"id":"5897d5f6.a7682c","type":"inject","name":"Orientation < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":532,"z":"fcc96017.0336a","wires":[["cc171566.33e8e8"]]},{"id":"6eae9e7f.91516","type":"inject","name":"Orientation > 360","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":567,"z":"fcc96017.0336a","wires":[["37aba97c.c85456"]]},{"id":"3b23eac9.c4dc16","type":"inject","name":"noffset < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93,"y":601,"z":"fcc96017.0336a","wires":[["e5a04fee.1a5fb"]]},{"id":"197db5d9.e6824a","type":"inject","name":"noffset > 90","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":636,"z":"fcc96017.0336a","wires":[["7a100839.85eff8"]]},{"id":"31fb2a72.ce04d6","type":"inject","name":"poffset < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":671,"z":"fcc96017.0336a","wires":[["120c9c78.edf364"]]},{"id":"22ddef57.dd221","type":"inject","name":"poffset > 90","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":707,"z":"fcc96017.0336a","wires":[["2abdb1db.d5424e"]]},{"id":"76b632a0.8949cc","type":"inject","name":"top < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":83,"y":743,"z":"fcc96017.0336a","wires":[["102d7b16.efd285"]]},{"id":"cfcb4aa3.3034b8","type":"inject","name":"bottom < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":779,"z":"fcc96017.0336a","wires":[["4d18405a.b2e7c"]]},{"id":"ebe2696a.141d98","type":"inject","name":"depth < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86,"y":814,"z":"fcc96017.0336a","wires":[["b4c34a59.4b3cb8"]]},{"id":"60460694.9fb9f8","type":"inject","name":"top < bottom","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":850,"z":"fcc96017.0336a","wires":[["12ffb2ce.ed004d"]]},{"id":"c2f92e2b.3d06d","type":"inject","name":"increment < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97,"y":884,"z":"fcc96017.0336a","wires":[["154d606e.eab2a"]]},{"id":"f77a2359.0885e","type":"inject","name":"increment > 100","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105,"y":919,"z":"fcc96017.0336a","wires":[["3a50d1fb.c5af2e"]]},{"id":"e80fa98c.17f058","type":"inject","name":"altitudethreshold < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121,"y":954,"z":"fcc96017.0336a","wires":[["f43c8658.0bc378"]]},{"id":"14875e5c.eb78a2","type":"inject","name":"altitudethreshold > 90","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":124,"y":989,"z":"fcc96017.0336a","wires":[["69d2108b.962df"]]},{"id":"fbdad360.04253","type":"inject","name":"cloudsThreshold < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":1024,"z":"fcc96017.0336a","wires":[["276d44cc.d892bc"]]},{"id":"d951e79a.26ae18","type":"inject","name":"cloudsThreshold > 1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":1059,"z":"fcc96017.0336a","wires":[["dbf30101.240d"]]},{"id":"cc171566.33e8e8","type":"function","name":"Orientation < 0","func":"msg.payload = {channel: 1, orientation: -1, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":533,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"37aba97c.c85456","type":"function","name":"Orientation > 360","func":"msg.payload = {channel: 1, orientation: 361, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":307,"y":566,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"e5a04fee.1a5fb","type":"function","name":"noffset < 0","func":"msg.payload = {channel: 1, orientation: 45, noffset:-1, poffset: 90,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":601,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"7a100839.85eff8","type":"function","name":"noffset > 90","func":"msg.payload = {channel: 1, orientation: 45, noffset:91, poffset: 90,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":636,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"120c9c78.edf364","type":"function","name":"poffset < 0","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: -1,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":672,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"2abdb1db.d5424e","type":"function","name":"poffset > 90","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 91,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":288,"y":707,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"102d7b16.efd285","type":"function","name":"top < 0","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:-1, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":744,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"4d18405a.b2e7c","type":"function","name":"bottom < 0","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:-1, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":779,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"b4c34a59.4b3cb8","type":"function","name":"depth < 0","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:0, depth:-1, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":814,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"12ffb2ce.ed004d","type":"function","name":"top < bottom","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:3, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":849,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"154d606e.eab2a","type":"function","name":"increment < 0","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:-1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":884,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"3a50d1fb.c5af2e","type":"function","name":"Increment > 100","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:3, depth:10, increment:101};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":918,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"f43c8658.0bc378","type":"function","name":"altitudethreshold < 0","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1, altitudethreshold: -1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":954,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"69d2108b.962df","type":"function","name":"altitudethreshold > 90","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1, altitudethreshold: 91};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":988,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"276d44cc.d892bc","type":"function","name":"cloudsthreshold < 0","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1, cloudsthreshold: -1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":1023,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"dbf30101.240d","type":"function","name":"cloudsthreshold > 1","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1, cloudsthreshold: 2};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":1060,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"ff422038.00bde","type":"blindcontroller","name":"","channel":"1","orientation":"0","noffset":"90","poffset":"90","top":"1","bottom":"0","depth":".5","altitudethreshold":"","increment":"1","temperaturethreshold":"","cloudsthreshold":"","x":581,"y":1548,"z":"fcc96017.0336a","wires":[["7a5e687c.85a198"]]},{"id":"f6deb789.092148","type":"inject","name":"Orientation (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1096,"z":"fcc96017.0336a","wires":[["d9d695d.f262968"]]},{"id":"d9d695d.f262968","type":"function","name":"Orientation (invalid type)","func":"msg.payload = {channel: 1, orientation: \"abc\", noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":1096,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"b61eead.f49e118","type":"inject","name":"noffset (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":1131,"z":"fcc96017.0336a","wires":[["6d6d7064.92929"]]},{"id":"6d6d7064.92929","type":"function","name":"noffset (invalid type)","func":"msg.payload = {channel: 1, orientation: 360, noffset:\"abc\", poffset: 90,top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":1131,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"d5f7dfa7.2a082","type":"inject","name":"poffset (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111,"y":1166,"z":"fcc96017.0336a","wires":[["983ceae5.67c318"]]},{"id":"983ceae5.67c318","type":"function","name":"poffset (invalid type)","func":"msg.payload = {channel: 1, orientation: 360, noffset:90, poffset: \"abc\",top:2, bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":1166,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"ca5a616.f35a5a","type":"inject","name":"top (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":1201,"z":"fcc96017.0336a","wires":[["b6c80387.4938"]]},{"id":"b6c80387.4938","type":"function","name":"top (invalid type)","func":"msg.payload = {channel: 1, orientation: 360, noffset:90, poffset: 90,top:\"abc\", bottom:0, depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":1200,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"3d6ac010.c2954","type":"inject","name":"bottom (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111,"y":1236,"z":"fcc96017.0336a","wires":[["91d5c88d.6e2a38"]]},{"id":"91d5c88d.6e2a38","type":"function","name":"bottom (invalid type)","func":"msg.payload = {channel: 1, orientation: 360, noffset:90, poffset: 90,top:2, bottom:\"abc\", depth:10, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":1237,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"f86bfe2c.0794","type":"inject","name":"depth (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":1273,"z":"fcc96017.0336a","wires":[["2818712d.d7e78e"]]},{"id":"2818712d.d7e78e","type":"function","name":"depth (invalid type)","func":"msg.payload = {channel: 1, orientation: 360, noffset:90, poffset: 90,top:2, bottom:0, depth:\"abc\", increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":334,"y":1272,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"ea84ad6.f157b5","type":"inject","name":"altitudethreshold (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":1308,"z":"fcc96017.0336a","wires":[["4738519e.b8c7b"]]},{"id":"4738519e.b8c7b","type":"function","name":"altitudethreshold (invalid type)","func":"msg.payload = {channel: 1, orientation: 360, noffset:90, poffset: 90,top:2, bottom:0, depth:10, increment:1, altitudethreshold:\"abc\"};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":1307,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"ee188405.11e778","type":"inject","name":"cloudsthreshold (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136,"y":1343,"z":"fcc96017.0336a","wires":[["f1e72417.0e18d8"]]},{"id":"f1e72417.0e18d8","type":"function","name":"cloudsthreshold (invalid type)","func":"msg.payload = {channel: 1, orientation: 360, noffset:90, poffset: 90,top:2, bottom:\"abc\", depth:10, increment:1, cloudsthreshold: \"abc\"};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1343,"z":"fcc96017.0336a","wires":[["4e939c23.b16c64"]]},{"id":"5cc207e8.a33df8","type":"inject","name":"sunInSky (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":127,"y":1630,"z":"fcc96017.0336a","wires":[["2bfa463f.d405ba"]]},{"id":"29e9d284.d6162e","type":"inject","name":"azimuth (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122,"y":1666,"z":"fcc96017.0336a","wires":[["7246acff.8db954"]]},{"id":"d1a39c99.2e5c6","type":"inject","name":"altitude (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1701,"z":"fcc96017.0336a","wires":[["4a2d8c37.b5d274"]]},{"id":"2bfa463f.d405ba","type":"function","name":"sunInSky (invalid type)","func":"msg = { \"topic\": \"sun\", \"payload\": { \"sunInSky\": \"abc\", \"altitude\": 56.80029967413457, \"azimuth\": 72.73564171779199, \"altitudeRadians\": 0.9913522454331105, \"azimuthRadians\": -1.8721162220633787 }, \"_msgid\": \"bdd61d4.f4229e\", \"location\": { \"lat\": \"-37.82103\", \"lon\": \"144.96634\" }, \"time\": \"2015-12-07T23:54:14.682Z\" };\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":1629,"z":"fcc96017.0336a","wires":[["65d2f331.9a2d0c","ff422038.00bde"]]},{"id":"7246acff.8db954","type":"function","name":"azimuth (invalid type)","func":"msg = { \"topic\": \"sun\", \"payload\": { \"sunInSky\": true, \"altitude\": 56.80029967413457, \"azimuth\": \"abc\", \"altitudeRadians\": 0.9913522454331105, \"azimuthRadians\": -1.8721162220633787 }, \"_msgid\": \"bdd61d4.f4229e\", \"location\": { \"lat\": \"-37.82103\", \"lon\": \"144.96634\" }, \"time\": \"2015-12-07T23:54:14.682Z\" };\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":1661,"z":"fcc96017.0336a","wires":[["65d2f331.9a2d0c","ff422038.00bde"]]},{"id":"4a2d8c37.b5d274","type":"function","name":"altitude (invalid type)","func":"msg = { \"topic\": \"sun\", \"payload\": { \"sunInSky\": false, \"altitude\": \"abc\", \"azimuth\": 72.73564171779199, \"altitudeRadians\": 0.9913522454331105, \"azimuthRadians\": -1.8721162220633787 }, \"_msgid\": \"bdd61d4.f4229e\", \"location\": { \"lat\": \"-37.82103\", \"lon\": \"144.96634\" }, \"time\": \"2015-12-07T23:54:14.682Z\" };\nreturn msg;","outputs":1,"noerr":0,"x":353,"y":1700,"z":"fcc96017.0336a","wires":[["65d2f331.9a2d0c","ff422038.00bde"]]},{"id":"357c2245.ca83de","type":"inject","name":"azimuth < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":1772,"z":"fcc96017.0336a","wires":[["be8d4bb0.4172b8"]]},{"id":"f86755f9.0798a8","type":"inject","name":"azimuth > 360","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":1807,"z":"fcc96017.0336a","wires":[["af128cee.50ed7"]]},{"id":"56e696e5.a91968","type":"inject","name":"altitude > 90","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":1842,"z":"fcc96017.0336a","wires":[["5a28d850.a5d728"]]},{"id":"be8d4bb0.4172b8","type":"function","name":"azimuth < 0","func":"msg = { \"topic\": \"sun\", \"payload\": { \"sunInSky\": true, \"altitude\": 56.80029967413457, \"azimuth\": -1, \"altitudeRadians\": 0.9913522454331105, \"azimuthRadians\": -1.8721162220633787 }, \"_msgid\": \"bdd61d4.f4229e\", \"location\": { \"lat\": \"-37.82103\", \"lon\": \"144.96634\" }, \"time\": \"2015-12-07T23:54:14.682Z\" }\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":1772,"z":"fcc96017.0336a","wires":[["65d2f331.9a2d0c","ff422038.00bde"]]},{"id":"af128cee.50ed7","type":"function","name":"azimuth > 360","func":"msg = { \"topic\": \"sun\", \"payload\": { \"sunInSky\": true, \"altitude\": 56.80029967413457, \"azimuth\": 360.73564171779199, \"altitudeRadians\": 0.9913522454331105, \"azimuthRadians\": -1.8721162220633787 }, \"_msgid\": \"bdd61d4.f4229e\", \"location\": { \"lat\": \"-37.82103\", \"lon\": \"144.96634\" }, \"time\": \"2015-12-07T23:54:14.682Z\" }\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":1808,"z":"fcc96017.0336a","wires":[["65d2f331.9a2d0c","ff422038.00bde"]]},{"id":"5a28d850.a5d728","type":"function","name":"altitude > 90","func":"msg = { \"topic\": \"sun\", \"payload\": { \"sunInSky\": true, \"altitude\": 90.80029967413457, \"azimuth\": 72.73564171779199, \"altitudeRadians\": 0.9913522454331105, \"azimuthRadians\": -1.8721162220633787 }, \"_msgid\": \"bdd61d4.f4229e\", \"location\": { \"lat\": \"-37.82103\", \"lon\": \"144.96634\" }, \"time\": \"2015-12-07T23:54:14.682Z\" }\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":1845,"z":"fcc96017.0336a","wires":[["65d2f331.9a2d0c","ff422038.00bde"]]},{"id":"d179526d.2e86b","type":"comment","name":"Invalid Weather","info":"","x":103,"y":1924,"z":"fcc96017.0336a","wires":[]},{"id":"54e32365.ab1cdc","type":"inject","name":"clouds < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86,"y":1961,"z":"fcc96017.0336a","wires":[["91d486c3.6e2b78"]]},{"id":"c52b82ec.3ad48","type":"inject","name":"clouds > 1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85,"y":1998,"z":"fcc96017.0336a","wires":[["d7563fd5.28a9c"]]},{"id":"91d486c3.6e2b78","type":"function","name":"clouds < 0","func":"msg = { \"topic\": \"weather\", \"payload\": { \"weather\": \"rain\", \"detail\": \"Light rain in the morning.\", \"humidity\": 0.65, \"maxtemp\": 29.14, \"mintemp\": 18.04, \"windspeed\": 0.44, \"winddirection\": 43, \"lon\": -37.93723, \"lat\": 145.01148, \"clouds\": -0.59, \"precipitation\": 0.57, \"sunrise\": 1449514333, \"sunset\": 1449567223, \"units\": \"si\" }};\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":1960,"z":"fcc96017.0336a","wires":[["33124a62.ccedb6","18fac634.e7053a"]]},{"id":"d7563fd5.28a9c","type":"function","name":"clouds > 1","func":"msg = { \"topic\": \"weather\", \"payload\": { \"weather\": \"rain\", \"detail\": \"Light rain in the morning.\", \"humidity\": 0.65, \"maxtemp\": 29.14, \"mintemp\": 18.04, \"windspeed\": 0.44, \"winddirection\": 43, \"lon\": -37.93723, \"lat\": 145.01148, \"clouds\": 1.59, \"precipitation\": 0.57, \"sunrise\": 1449514333, \"sunset\": 1449567223, \"units\": \"si\" }};\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":1997,"z":"fcc96017.0336a","wires":[["33124a62.ccedb6","18fac634.e7053a"]]},{"id":"33124a62.ccedb6","type":"multiblindcontroller","name":"","x":538,"y":1959,"z":"fcc96017.0336a","wires":[["2579b549.da864a"]]},{"id":"18fac634.e7053a","type":"blindcontroller","name":"","channel":"1","orientation":"0","noffset":"90","poffset":"90","top":"1","bottom":"0","depth":"0","altitudethreshold":"","increment":"1","temperaturethreshold":"","cloudsthreshold":"","x":535,"y":1995,"z":"fcc96017.0336a","wires":[["2579b549.da864a"]]},{"id":"2579b549.da864a","type":"debug","name":"","active":true,"console":"false","complete":"false","x":753,"y":1980,"z":"fcc96017.0336a","wires":[]},{"id":"36dddabf.c92226","type":"comment","name":"Invalid Blind Position","info":"","x":116,"y":2040,"z":"fcc96017.0336a","wires":[]},{"id":"b458e9a.f4ba718","type":"inject","name":"channel missing","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":2081,"z":"fcc96017.0336a","wires":[["a868f84a.579708"]]},{"id":"c4be988f.3b4168","type":"inject","name":"blindPosition missing","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":2118,"z":"fcc96017.0336a","wires":[["e06b7f6.f1f948"]]},{"id":"80bd5318.7f42b","type":"inject","name":"All missing","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85,"y":2155,"z":"fcc96017.0336a","wires":[["d8e95ff5.2716a"]]},{"id":"3556eae7.caa916","type":"inject","name":"blindPosition < 0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":2192,"z":"fcc96017.0336a","wires":[["edf99343.12067"]]},{"id":"925f779e.6da088","type":"inject","name":"blindPosition > 100","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111,"y":2229,"z":"fcc96017.0336a","wires":[["92aa4c9c.6d55b"]]},{"id":"ed7e7450.128188","type":"inject","name":"blindPosition (invalid type)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132,"y":2265,"z":"fcc96017.0336a","wires":[["c2847f0e.3d7b8"]]},{"id":"a868f84a.579708","type":"function","name":"channel missing","func":"msg = {topic: \"blindPosition\", payload: {blindPosition: 0}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":2082,"z":"fcc96017.0336a","wires":[["d51127f5.2aeed8"]]},{"id":"e06b7f6.f1f948","type":"function","name":"blindPosition missing","func":"msg = {topic: \"blindPosition\", payload: {channel: 1}};\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":2118,"z":"fcc96017.0336a","wires":[["d51127f5.2aeed8"]]},{"id":"d8e95ff5.2716a","type":"function","name":"All missing","func":"msg = {topic: \"blindPosition\", payload: {}};\nreturn msg;","outputs":1,"noerr":0,"x":322,"y":2154,"z":"fcc96017.0336a","wires":[["d51127f5.2aeed8"]]},{"id":"edf99343.12067","type":"function","name":"blindPosition < 0","func":"msg = {topic: \"blindPosition\", payload: {channel: 1, blindPosition: -1}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":2190,"z":"fcc96017.0336a","wires":[["d51127f5.2aeed8"]]},{"id":"92aa4c9c.6d55b","type":"function","name":"blindPosition > 100","func":"msg = {topic: \"blindPosition\", payload: {channel: 1, blindPosition: 101}};\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":2227,"z":"fcc96017.0336a","wires":[["d51127f5.2aeed8"]]},{"id":"c2847f0e.3d7b8","type":"function","name":"blindPosition (invalid type)","func":"msg = {topic: \"blindPosition\", payload: {channel: 1, blindPosition: \"abc\"}};\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":2264,"z":"fcc96017.0336a","wires":[["d51127f5.2aeed8"]]},{"id":"d51127f5.2aeed8","type":"multiblindcontroller","name":"","x":613,"y":2176,"z":"fcc96017.0336a","wires":[["68d17b29.972e84"]]},{"id":"68d17b29.972e84","type":"debug","name":"","active":true,"console":"false","complete":"false","x":809,"y":2175,"z":"fcc96017.0336a","wires":[]},{"id":"5f3e54cc.a0c1ac","type":"inject","name":"Initialise Blind","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":75,"z":"6a6caa5b.959354","wires":[["fdebe7c5.021418","6103ff5.f9efc","5aa5598.fa55aa8","ecb7bf6c.13484"]]},{"id":"fdebe7c5.021418","type":"function","name":"Initialise Blind 1 - 45","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:1, depth:2, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":75,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"772d0fa2.88d2f","type":"comment","name":"Orientation","info":"This test is to validate the \"sun in window\" aspect of the controller, which is based on the azimuth of the sun and the orientation of the window.\n\nSimulates the movement of the sun in Melbourne on 8 December 2015.  The test includes 4 identical blinds at different orientations, 45, 135, 225, and 315.\nThe blinds have the following properties:\n* Top: 2 metres\n* Bottom: 1 metre\n* Negative Offset: 90 degrees\n* Positive Offset: 90 degrees\n* Depth: 1 metre\n\nOn 8 December 2015:\n* Sunrise was at 05:52 at a azimuth of 119.52\n* Sun peak level was at 13:12 at a azimuth of virtually north\n* Sunset was at 20:33 at a azimuth of 240.47\n\nIn the morning, the control is of the blinds at the orientation of 45 and 135, with the blinds rising as the sun progressively gets higher in the sky.\n\nIn the evening, the control is of the blinds at the orientation of 225 and 315, with the blinds being progressively close as the sun gets lower in the sky.","x":109,"y":27,"z":"6a6caa5b.959354","wires":[]},{"id":"c9310c30.36cef","type":"debug","name":"","active":true,"console":"false","complete":"false","x":724,"y":211,"z":"6a6caa5b.959354","wires":[]},{"id":"f9d70882.0628f8","type":"multiblindcontroller","name":"","x":560,"y":534,"z":"6a6caa5b.959354","wires":[["c9310c30.36cef"]]},{"id":"7d25e014.82da2","type":"inject","name":"Night time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":250,"z":"6a6caa5b.959354","wires":[["2737835e.d8c87c"]]},{"id":"2737835e.d8c87c","type":"function","name":"05:19 (-6.21, 125.11)","func":"msg.payload = { \"sunInSky\": false, \"altitude\": -6.21, \"azimuth\": 125.11};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":251,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"6103ff5.f9efc","type":"function","name":"Initialise Blind 2 - 135","func":"msg.payload = {channel: 2, orientation: 135, noffset:90, poffset: 90,top:2, bottom:1, depth:2, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":283,"y":117,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"5aa5598.fa55aa8","type":"function","name":"Initialise Blind 3 - 225","func":"msg.payload = {channel: 3, orientation: 225, noffset:90, poffset: 90,top:2, bottom:1, depth:2, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":157,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"ecb7bf6c.13484","type":"function","name":"Initialise Blind 4 - 315","func":"msg.payload = {channel: 4, orientation: 315, noffset:90, poffset: 90,top:2, bottom:1, depth:2, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":197,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"c2307394.3dcf9","type":"inject","name":"05:59","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":89.5,"y":295,"z":"6a6caa5b.959354","wires":[["d1bf13af.2e40f"]]},{"id":"d1bf13af.2e40f","type":"function","name":"05:59 (0.48, 118.75)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 0.48, \"azimuth\": 118.75};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":297,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"8f7ec3fa.70814","type":"function","name":"East (39.26, 89.59)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 39.26, \"azimuth\": 89.59};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":484,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"55d80ca4.aa27f4","type":"inject","name":"East","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":481,"z":"6a6caa5b.959354","wires":[["8f7ec3fa.70814"]]},{"id":"1a4addd1.e5b522","type":"inject","name":"10:35","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102,"y":524,"z":"6a6caa5b.959354","wires":[["9f6a91da.60957"]]},{"id":"9f6a91da.60957","type":"function","name":"10:35 (53.15, 76.92)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 53.15, \"azimuth\": 76.92};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":529,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"82c7ef8a.7d381","type":"inject","name":"11:34","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":568,"z":"6a6caa5b.959354","wires":[["c75d31e0.38a2d"]]},{"id":"c75d31e0.38a2d","type":"function","name":"11:34 (64.01, 60.97)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 64.01, \"azimuth\": 60.97 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":570,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"3bf0fc00.c40f04","type":"inject","name":"12:14","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":607,"z":"6a6caa5b.959354","wires":[["97f97822.680688"]]},{"id":"97f97822.680688","type":"function","name":"12:14 (70.27, 43.3)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 70.27, \"azimuth\": 43.3 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":616,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"737bf419.8c840c","type":"inject","name":"Peak - 13.12","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97,"y":656,"z":"6a6caa5b.959354","wires":[["6aa97205.95568c"]]},{"id":"6aa97205.95568c","type":"function","name":"13.12 - Peak (74.71, 0.11)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 74.71, \"azimuth\": 0.11 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":286,"y":657,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"2a631dbf.d59ce2","type":"inject","name":"14:09","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":709,"z":"6a6caa5b.959354","wires":[["65e2e3a9.9a1d1c"]]},{"id":"65e2e3a9.9a1d1c","type":"function","name":"14:09 (70.45, 317.38)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 70.45, \"azimuth\": 317.38 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":288,"y":707,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"9ec58118.613a8","type":"inject","name":"14:54","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":750,"z":"6a6caa5b.959354","wires":[["32adf344.cd520c"]]},{"id":"32adf344.cd520c","type":"function","name":"14:54 (63.97, 270.1)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 63.97, \"azimuth\": 270.1 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":749,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"40044fb6.bffbb","type":"inject","name":"17:02","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":830,"z":"6a6caa5b.959354","wires":[["a7a99ae0.585668"]]},{"id":"a7a99ae0.585668","type":"function","name":"17:02 (38.94, 270.1)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 38.94, \"azimuth\": 270.1 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":829,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"523ab2d7.adc54c","type":"inject","name":"08:12","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":340,"z":"6a6caa5b.959354","wires":[["5f0ca18c.a0f36"]]},{"id":"5f0ca18c.a0f36","type":"function","name":"08:12 (25.14, 99.96)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 25.14, \"azimuth\": 99.96 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":339,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"35c7674e.ca3898","type":"inject","name":"08:37","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":385,"z":"6a6caa5b.959354","wires":[["9fa89a1f.605768"]]},{"id":"9fa89a1f.605768","type":"function","name":"08:37 (30.02, 96.49)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 30.02, \"azimuth\": 96.49 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":383,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"98fbe0fd.67042","type":"inject","name":"09:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":431,"z":"6a6caa5b.959354","wires":[["89c6eeb5.76391"]]},{"id":"89c6eeb5.76391","type":"function","name":"09:00 (34.53, 93.2)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 34.53, \"azimuth\": 93.2 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":431,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"812a3727.7ed5c8","type":"inject","name":"16:33","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":789,"z":"6a6caa5b.959354","wires":[["21f315a7.de0cea"]]},{"id":"21f315a7.de0cea","type":"function","name":"16:33 (44.65, 274.78)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 44.65, \"azimuth\": 274.78 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":788,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"5dc17c32.a23e84","type":"inject","name":"17.19","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":873,"z":"6a6caa5b.959354","wires":[["1b05983c.e4fa68"]]},{"id":"1b05983c.e4fa68","type":"function","name":"17:19 (35.59, 267.53)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 35.59, \"azimuth\": 267.53 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":296,"y":872,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"13f176ab.ec0e89","type":"inject","name":"17:45","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104,"y":916,"z":"6a6caa5b.959354","wires":[["7efd3203.8102cc"]]},{"id":"7efd3203.8102cc","type":"function","name":"17:45 (30.48, 263.79)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 30.48, \"azimuth\": 263.79 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":919,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"c432762c.3bcd88","type":"inject","name":"20:39","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102,"y":960,"z":"6a6caa5b.959354","wires":[["1c6b5442.e394ac"]]},{"id":"1c6b5442.e394ac","type":"function","name":"20:39 (-1.82, 239.07)","func":"msg.payload = { \"sunInSky\": false, \"altitude\": -1.82, \"azimuth\": 239.07 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":959,"z":"6a6caa5b.959354","wires":[["f9d70882.0628f8"]]},{"id":"ff03724b.00fc9","type":"inject","name":"Initialise Blind","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":83,"z":"8a56dce5.75a92","wires":[["8b588d5e.74a77","a0c1bac.f5f3e48","c2932d54.3d6cd","cfede710.301218","1143b465.eebc4c","bec7f570.413808"]]},{"id":"8b588d5e.74a77","type":"function","name":"Initialise Blind 1 - 45 (1)","func":"msg.payload = {channel: 1, orientation: 45, noffset:90, poffset: 90,top:2, bottom:1, depth:2, increment:1};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":31,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"35f81c07.ca07e4","type":"comment","name":"Increments","info":"This test is to validate the \"increment\" logic of the controller.  A feature intended to support blinds with different degrees of control fidelity.\n\nSimulates the movement of the sun in Melbourne on 8 December 2015.  The test includes 6 identical blinds that can be controlled at different increments (1,5,20,25,50,100).\nThe blinds have the following properties:\n* Orientation: 45 degrees\n* Top: 2 metres\n* Bottom: 1 metre\n* Negative Offset: 90 degrees\n* Positive Offset: 90 degrees\n* Depth: 1 metre\n\nOn 8 December 2015:\n* Sunrise was at 05:52 at a azimuth of 119.52\n* Sun peak level was at 13:12 at a azimuth of virtually north\n* Sunset was at 20:33 at a azimuth of 240.47\n","x":110,"y":35,"z":"8a56dce5.75a92","wires":[]},{"id":"26e6be9e.d91942","type":"debug","name":"","active":true,"console":"false","complete":"false","x":725,"y":219,"z":"8a56dce5.75a92","wires":[]},{"id":"a9ad1e9d.5652e","type":"multiblindcontroller","name":"","x":561,"y":542,"z":"8a56dce5.75a92","wires":[["26e6be9e.d91942"]]},{"id":"410949ec.bef6b8","type":"inject","name":"Night time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":258,"z":"8a56dce5.75a92","wires":[["968c2311.6973e"]]},{"id":"968c2311.6973e","type":"function","name":"05:19 (-6.21, 125.11)","func":"msg.payload = { \"sunInSky\": false, \"altitude\": -6.21, \"azimuth\": 125.11};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":259,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"a0c1bac.f5f3e48","type":"function","name":"Initialise Blind 2 - 45 (5)","func":"msg.payload = {channel: 2, orientation: 45, noffset:90, poffset: 90,top:2, bottom:1, depth:2, increment:5};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":65,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"c2932d54.3d6cd","type":"function","name":"Initialise Blind 3 - 45 (20)","func":"msg.payload = {channel: 3, orientation: 45, noffset:90, poffset: 90,top:2, bottom:1, depth:2, increment:20};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":99,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"cfede710.301218","type":"function","name":"Initialise Blind 4 - 45 (25)","func":"msg.payload = {channel: 4, orientation: 45, noffset:90, poffset: 90,top:2, bottom:1, depth:2, increment:25};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":133,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"5b5ddf21.a4a22","type":"inject","name":"05:59","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90.5,"y":303,"z":"8a56dce5.75a92","wires":[["e92a96e0.16d568"]]},{"id":"e92a96e0.16d568","type":"function","name":"05:59 (0.48, 118.75)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 0.48, \"azimuth\": 118.75};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":305,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"c52e5fbe.3ad1a","type":"function","name":"East (39.26, 89.59)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 39.26, \"azimuth\": 89.59};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":307,"y":492,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"8de97a0a.721688","type":"inject","name":"East","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104,"y":489,"z":"8a56dce5.75a92","wires":[["c52e5fbe.3ad1a"]]},{"id":"e65de41c.19a218","type":"inject","name":"10:35","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":532,"z":"8a56dce5.75a92","wires":[["91009453.6eff68"]]},{"id":"91009453.6eff68","type":"function","name":"10:35 (53.15, 76.92)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 53.15, \"azimuth\": 76.92};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":307,"y":537,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"8d6006b8.729ff8","type":"inject","name":"11:34","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":576,"z":"8a56dce5.75a92","wires":[["27249524.d8db6a"]]},{"id":"27249524.d8db6a","type":"function","name":"11:34 (64.01, 60.97)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 64.01, \"azimuth\": 60.97 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":578,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"d05d6f8e.2fa29","type":"inject","name":"12:14","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":615,"z":"8a56dce5.75a92","wires":[["baf55f.ff450aa"]]},{"id":"baf55f.ff450aa","type":"function","name":"12:14 (70.27, 43.3)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 70.27, \"azimuth\": 43.3 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":624,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"653f52e4.9ac0ac","type":"inject","name":"Peak - 13.12","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":664,"z":"8a56dce5.75a92","wires":[["bb45c9ee.44ba38"]]},{"id":"bb45c9ee.44ba38","type":"function","name":"13.12 - Peak (74.71, 0.11)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 74.71, \"azimuth\": 0.11 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":287,"y":665,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"7180e160.8e7f2","type":"inject","name":"14:09","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":717,"z":"8a56dce5.75a92","wires":[["f885e248.077a2"]]},{"id":"f885e248.077a2","type":"function","name":"14:09 (70.45, 317.38)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 70.45, \"azimuth\": 317.38 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":715,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"465fceaa.b9a03","type":"inject","name":"14:54","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":758,"z":"8a56dce5.75a92","wires":[["7b31e35f.84ce1c"]]},{"id":"7b31e35f.84ce1c","type":"function","name":"14:54 (63.97, 270.1)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 63.97, \"azimuth\": 270.1 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":757,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"686a268b.9795d8","type":"inject","name":"17:02","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93,"y":838,"z":"8a56dce5.75a92","wires":[["fb707f46.048f8"]]},{"id":"fb707f46.048f8","type":"function","name":"17:02 (38.94, 270.1)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 38.94, \"azimuth\": 270.1 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":837,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"c6d9a974.392658","type":"inject","name":"08:12","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":348,"z":"8a56dce5.75a92","wires":[["c6a085f.f395f78"]]},{"id":"c6a085f.f395f78","type":"function","name":"08:12 (25.14, 99.96)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 25.14, \"azimuth\": 99.96 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":347,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"88413e8e.77bec","type":"inject","name":"08:37","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":393,"z":"8a56dce5.75a92","wires":[["55588cf7.aaa774"]]},{"id":"55588cf7.aaa774","type":"function","name":"08:37 (30.02, 96.49)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 30.02, \"azimuth\": 96.49 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":391,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"e14ce498.1eb318","type":"inject","name":"09:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":439,"z":"8a56dce5.75a92","wires":[["ae2291dc.51dd7"]]},{"id":"ae2291dc.51dd7","type":"function","name":"09:00 (34.53, 93.2)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 34.53, \"azimuth\": 93.2 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":439,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"5c97142f.a368ec","type":"inject","name":"16:33","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":797,"z":"8a56dce5.75a92","wires":[["42ca098f.bd35f8"]]},{"id":"42ca098f.bd35f8","type":"function","name":"16:33 (44.65, 274.78)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 44.65, \"azimuth\": 274.78 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":307,"y":796,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"845670a.f7ba99","type":"inject","name":"17.19","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":881,"z":"8a56dce5.75a92","wires":[["7e06e87e.81f918"]]},{"id":"7e06e87e.81f918","type":"function","name":"17:19 (35.59, 267.53)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 35.59, \"azimuth\": 267.53 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":880,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"ccda75cd.332588","type":"inject","name":"17:45","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105,"y":924,"z":"8a56dce5.75a92","wires":[["c457243b.3ba8d8"]]},{"id":"c457243b.3ba8d8","type":"function","name":"17:45 (30.48, 263.79)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 30.48, \"azimuth\": 263.79 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":927,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"5fbd4ea7.a042b","type":"inject","name":"20:39","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":968,"z":"8a56dce5.75a92","wires":[["73a46ef.f8c5b9"]]},{"id":"73a46ef.f8c5b9","type":"function","name":"20:39 (-1.82, 239.07)","func":"msg.payload = { \"sunInSky\": false, \"altitude\": -1.82, \"azimuth\": 239.07 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":967,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"1143b465.eebc4c","type":"function","name":"Initialise Blind 5 - 45 (50)","func":"msg.payload = {channel: 5, orientation: 45, noffset:90, poffset: 90,top:2, bottom:1, depth:2, increment:50};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":167,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"bec7f570.413808","type":"function","name":"Initialise Blind 6 - 45 (100)","func":"msg.payload = {channel: 6, orientation: 45, noffset:90, poffset: 90,top:2, bottom:1, depth:2, increment:100};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":201,"z":"8a56dce5.75a92","wires":[["a9ad1e9d.5652e"]]},{"id":"c66a8376.39958","type":"inject","name":"Initialise Blind","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":91,"z":"684110b2.97bef","wires":[["5a3a54d1.a5c5ac","104fc057.efb04","d4cc599d.2b33a8","3c247de5.c3db82","2879ee4a.d78612","80d55cf7.7f2aa"]]},{"id":"5a3a54d1.a5c5ac","type":"function","name":"Initialise Blind 1 - 45","func":"msg.payload = {channel: 1, orientation: 45, noffset:45, poffset: 45,top:2.5, bottom:0, depth:5, increment:25, altitudethreshold:20, cloudsthreshold: 0.5, temperaturethreshold: 30};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":39,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"d782a3e1.287d6","type":"comment","name":"Home","info":"This test uses the author's home configuration.  This configuration uses the **altitudethreshold** and differing offset values.\n\nGlobal Settings:\n* Cloud Threshold: 0.5\n* Max Temp: 30\n\nBlind 1 and 2\n* Orientation: 45 degrees\n* Negative Offset: 45 degrees\n* Positive Offset: 45 degrees\n* Top: 2.5 metres\n* Bottom: 0 metres (i.e. floor level)\n* Depth: 5 metres\n* Altitude Threshold: 20 degrees\n\nBlind 3 and 4\n* Orientation: 0 degrees\n* Negative Offset: 45 degrees\n* Positive Offset: 90 degrees\n* Top: 2.5 metres\n* Bottom: 0 metres\n* Depth: 2 metres\n\nBlind 5 and 6\n* Orientation: 90 degrees\n* Negative Offset: 90 degrees\n* Positive Offset: 10 degrees\n* Top: 1.5 metres\n* Bottom: 0 metres\n* Depth: 0 metres\n* Altitude Threshold: 10 degrees\n\nOn 8 December 2015:\n* Sunrise was at 05:52 at a azimuth of 119.52\n* Sun peak level was at 13:12 at a azimuth of virtually north\n* Sunset was at 20:33 at a azimuth of 240.47\n","x":87,"y":20,"z":"684110b2.97bef","wires":[]},{"id":"3eaef721.c15108","type":"debug","name":"","active":true,"console":"false","complete":"false","x":725,"y":227,"z":"684110b2.97bef","wires":[]},{"id":"be0e48fa.41f1b8","type":"multiblindcontroller","name":"","x":561,"y":550,"z":"684110b2.97bef","wires":[["3eaef721.c15108"]]},{"id":"8f4219f2.70bde8","type":"inject","name":"Night time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":453,"z":"684110b2.97bef","wires":[["cea5ed6d.315a1"]]},{"id":"cea5ed6d.315a1","type":"function","name":"05:19 (-6.21, 125.11)","func":"msg.payload = { \"sunInSky\": false, \"altitude\": -6.21, \"azimuth\": 125.11};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":452,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"104fc057.efb04","type":"function","name":"Initialise Blind 2 - 45","func":"msg.payload = {channel: 2, orientation: 45, noffset:45, poffset: 45,top:2.5, bottom:0, depth:5, increment:25, altitudethreshold: 20, cloudsthreshold: 0.5, temperaturethreshold: 30};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":73,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"d4cc599d.2b33a8","type":"function","name":"Initialise Blind 3 - 0","func":"msg.payload = {channel: 3, orientation: 0, noffset:45, poffset: 90,top:2.5, bottom:0, depth:2, increment:25, cloudsthreshold: 0.5, temperaturethreshold: 30};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":107,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"3c247de5.c3db82","type":"function","name":"Initialise Blind 4 - 0","func":"msg.payload = {channel: 4, orientation: 0, noffset:45, poffset: 90,top:2.5, bottom:0, depth:2, increment:25, cloudsthreshold: 0.5, temperaturethreshold: 30};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":141,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"ea03a57a.15fc58","type":"inject","name":"05:59","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":88.5,"y":500,"z":"684110b2.97bef","wires":[["6fd5c60e.902a38"]]},{"id":"6fd5c60e.902a38","type":"function","name":"05:59 (0.48, 118.75)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 0.48, \"azimuth\": 118.75};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":498,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"8be77916.741888","type":"function","name":"East (39.26, 89.59)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 39.26, \"azimuth\": 89.59};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":676,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"660679bf.99f988","type":"inject","name":"East","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":677,"z":"684110b2.97bef","wires":[["8be77916.741888"]]},{"id":"a111a3a5.5eee6","type":"inject","name":"10:35","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":721,"z":"684110b2.97bef","wires":[["f75f335a.08a0d"]]},{"id":"f75f335a.08a0d","type":"function","name":"10:35 (53.15, 76.92)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 53.15, \"azimuth\": 76.92};\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":720,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"71210c3a.8edef4","type":"inject","name":"11:34","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":762,"z":"684110b2.97bef","wires":[["e63cc0c2.19c34"]]},{"id":"e63cc0c2.19c34","type":"function","name":"11:34 (64.01, 60.97)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 64.01, \"azimuth\": 60.97 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":761,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"74e73677.8b18c8","type":"inject","name":"12:14","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":803,"z":"684110b2.97bef","wires":[["a499b38b.5b665"]]},{"id":"a499b38b.5b665","type":"function","name":"12:14 (70.27, 43.3)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 70.27, \"azimuth\": 43.3 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":801,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"afe7f2bc.50181","type":"inject","name":"Peak - 13.12","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":844,"z":"684110b2.97bef","wires":[["ec8ab463.137548"]]},{"id":"ec8ab463.137548","type":"function","name":"13.12 - Peak (74.71, 0.11)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 74.71, \"azimuth\": 0.11 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":843,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"8fb03588.704fc8","type":"inject","name":"14:09","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93,"y":884,"z":"684110b2.97bef","wires":[["1eb3da8a.e14c25"]]},{"id":"1eb3da8a.e14c25","type":"function","name":"14:09 (70.45, 317.38)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 70.45, \"azimuth\": 317.38 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":883,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"4a7260cc.b58da","type":"inject","name":"14:54","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":926,"z":"684110b2.97bef","wires":[["316eeef3.ce9112"]]},{"id":"316eeef3.ce9112","type":"function","name":"14:54 (63.97, 270.1)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 63.97, \"azimuth\": 270.1 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":927,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"65bfe845.9a4018","type":"inject","name":"17:02","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":1008,"z":"684110b2.97bef","wires":[["ffab9b17.005468"]]},{"id":"ffab9b17.005468","type":"function","name":"17:02 (38.94, 270.1)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 38.94, \"azimuth\": 270.1 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":1007,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"b9770f75.4688f","type":"inject","name":"08:12","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":89,"y":543,"z":"684110b2.97bef","wires":[["81787e7a.7e878"]]},{"id":"81787e7a.7e878","type":"function","name":"08:12 (25.14, 99.96)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 25.14, \"azimuth\": 99.96 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":542,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"a49688c2.5b6978","type":"inject","name":"08:37","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":587,"z":"684110b2.97bef","wires":[["e0127eea.1fed8"]]},{"id":"e0127eea.1fed8","type":"function","name":"08:37 (30.02, 96.49)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 30.02, \"azimuth\": 96.49 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":586,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"6103fb1f.9efc04","type":"inject","name":"09:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":631,"z":"684110b2.97bef","wires":[["beefb74e.411048"]]},{"id":"beefb74e.411048","type":"function","name":"09:00 (34.53, 93.2)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 34.53, \"azimuth\": 93.2 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":631,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"7f629ca6.809d64","type":"inject","name":"16:33","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":967,"z":"684110b2.97bef","wires":[["bca3077d.435cf8"]]},{"id":"bca3077d.435cf8","type":"function","name":"16:33 (44.65, 274.78)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 44.65, \"azimuth\": 274.78 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":966,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"c315baa3.3cea48","type":"inject","name":"17.19","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":1050,"z":"684110b2.97bef","wires":[["c4eb4114.3b14c"]]},{"id":"c4eb4114.3b14c","type":"function","name":"17:19 (35.59, 267.53)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 35.59, \"azimuth\": 267.53 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":1050,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"14a55a7c.eb5aa6","type":"inject","name":"17:45","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93,"y":1094,"z":"684110b2.97bef","wires":[["33130192.ccecfe"]]},{"id":"33130192.ccecfe","type":"function","name":"17:45 (30.48, 263.79)","func":"msg.payload = { \"sunInSky\": true, \"altitude\": 30.48, \"azimuth\": 263.79 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":311,"y":1094,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"29d8f7ed.d62708","type":"inject","name":"20:39","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93,"y":1138,"z":"684110b2.97bef","wires":[["18dd0117.e722ff"]]},{"id":"18dd0117.e722ff","type":"function","name":"20:39 (-1.82, 239.07)","func":"msg.payload = { \"sunInSky\": false, \"altitude\": -1.82, \"azimuth\": 239.07 };\nmsg.topic   = \"sun\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1138,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"2879ee4a.d78612","type":"function","name":"Initialise Blind 5 - 90","func":"msg.payload = {channel: 5, orientation: 90, noffset:90, poffset: 10,top:1.5, bottom:0, depth:0, increment:25, altitudethreshold: 10, cloudsthreshold: 0.5, temperaturethreshold: 30};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":175,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"80d55cf7.7f2aa","type":"function","name":"Initialise Blind 6 - 90","func":"msg.payload = {channel: 6, orientation: 90, noffset:90, poffset: 10,top:1.5, bottom:0, depth:0, increment:25, altitudethreshold: 10, cloudsthreshold: 0.5, temperaturethreshold: 30};\nmsg.topic = \"blind\";\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":209,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"a4a897ba.5b5768","type":"inject","name":"Normal Weather Conditions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":261,"z":"684110b2.97bef","wires":[["4262dc00.bd9d24"]]},{"id":"d3a10fbb.2c5ef","type":"inject","name":"Overcast - normal temperature","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":149,"y":300,"z":"684110b2.97bef","wires":[["6e59beff.91a64"]]},{"id":"227af94a.dd8506","type":"inject","name":"Overcast and extreme temperature","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":163,"y":338,"z":"684110b2.97bef","wires":[["d28142b1.2d7ec"]]},{"id":"66a5e839.995a18","type":"inject","name":"Clear and extreme temperature","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152,"y":375,"z":"684110b2.97bef","wires":[["d7c95657.2836a8"]]},{"id":"4262dc00.bd9d24","type":"function","name":"","func":"msg = { \"topic\": \"weather\", \"payload\": { \"weather\": \"rain\", \"detail\": \"Light rain in the morning.\", \"humidity\": 0.65, \"maxtemp\": 29.14, \"mintemp\": 18.04, \"windspeed\": 0.44, \"winddirection\": 43, \"lon\": -37.93723, \"lat\": 145.01148, \"clouds\": 0.25, \"precipitation\": 0.57, \"sunrise\": 1449514333, \"sunset\": 1449567223, \"units\": \"si\" }};\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":262,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"6e59beff.91a64","type":"function","name":"","func":"msg = { \"topic\": \"weather\", \"payload\": { \"weather\": \"rain\", \"detail\": \"Light rain in the morning.\", \"humidity\": 0.65, \"maxtemp\": 29.14, \"mintemp\": 18.04, \"windspeed\": 0.44, \"winddirection\": 43, \"lon\": -37.93723, \"lat\": 145.01148, \"clouds\": 0.6, \"precipitation\": 0.57, \"sunrise\": 1449514333, \"sunset\": 1449567223, \"units\": \"si\" }};\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":300,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"d28142b1.2d7ec","type":"function","name":"","func":"msg = { \"topic\": \"weather\", \"payload\": { \"weather\": \"rain\", \"detail\": \"Light rain in the morning.\", \"humidity\": 0.65, \"maxtemp\": 35.14, \"mintemp\": 18.04, \"windspeed\": 0.44, \"winddirection\": 43, \"lon\": -37.93723, \"lat\": 145.01148, \"clouds\": 0.51, \"precipitation\": 0.57, \"sunrise\": 1449514333, \"sunset\": 1449567223, \"units\": \"si\" }};\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":337,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]},{"id":"d7c95657.2836a8","type":"function","name":"","func":"msg = { \"topic\": \"weather\", \"payload\": { \"weather\": \"rain\", \"detail\": \"Light rain in the morning.\", \"humidity\": 0.65, \"maxtemp\": 35.14, \"mintemp\": 18.04, \"windspeed\": 0.44, \"winddirection\": 43, \"lon\": -37.93723, \"lat\": 145.01148, \"clouds\": 0.49, \"precipitation\": 0.57, \"sunrise\": 1449514333, \"sunset\": 1449567223, \"units\": \"si\" }};\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":375,"z":"684110b2.97bef","wires":[["be0e48fa.41f1b8"]]}]
