test/flows.json
[
    {
        "id": "1bab6ce7.cff683",
        "type": "tab",
        "label": "Negative Test Cases"
    },
    {
        "id": "43a97647.621148",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid Topic",
        "topic": "invalid",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 115.5,
        "y": 144,
        "wires": [
            [
                "df6779.d104f888"
            ]
        ]
    },
    {
        "id": "df6779.d104f888",
        "type": "multiblindcontroller",
        "z": "1bab6ce7.cff683",
        "name": "",
        "x": 442.5,
        "y": 167,
        "wires": [
            [
                "c12e1078.0e042"
            ]
        ]
    },
    {
        "id": "c12e1078.0e042",
        "type": "debug",
        "z": "1bab6ce7.cff683",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 636.5,
        "y": 167,
        "wires": []
    },
    {
        "id": "5426477e.79cbf8",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid Payload",
        "topic": "blind",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125.5,
        "y": 188,
        "wires": [
            [
                "df6779.d104f888"
            ]
        ]
    },
    {
        "id": "7f499cca.941044",
        "type": "comment",
        "z": "1bab6ce7.cff683",
        "name": "Handling of invalid payload and topic",
        "info": "",
        "x": 172.5,
        "y": 60,
        "wires": []
    },
    {
        "id": "8f8fe6ca.87f388",
        "type": "comment",
        "z": "1bab6ce7.cff683",
        "name": "Weather validations",
        "info": "",
        "x": 110.5,
        "y": 251,
        "wires": []
    },
    {
        "id": "2875ca07.c713f6",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "cloud < 0",
        "topic": "weather",
        "payload": "{\"clouds\":-1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 106.5,
        "y": 291,
        "wires": [
            [
                "7f593233.0cc72c"
            ]
        ]
    },
    {
        "id": "7f593233.0cc72c",
        "type": "multiblindcontroller",
        "z": "1bab6ce7.cff683",
        "name": "",
        "x": 441.5,
        "y": 319,
        "wires": [
            [
                "b0efd341.81474"
            ]
        ]
    },
    {
        "id": "b0efd341.81474",
        "type": "debug",
        "z": "1bab6ce7.cff683",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 635.5,
        "y": 318,
        "wires": []
    },
    {
        "id": "aadfb706.694698",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "cloud > 1",
        "topic": "weather",
        "payload": "{\"clouds\": 1.1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 106.5,
        "y": 341,
        "wires": [
            [
                "7f593233.0cc72c"
            ]
        ]
    },
    {
        "id": "11c4964c.3343aa",
        "type": "comment",
        "z": "1bab6ce7.cff683",
        "name": "Blind Position Validations",
        "info": "",
        "x": 132.5,
        "y": 392,
        "wires": []
    },
    {
        "id": "81704e3a.883cd",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing Channel",
        "topic": "blindPosition",
        "payload": "{\"blindPosition\": 75}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 126.5,
        "y": 436,
        "wires": [
            [
                "2d5d326.6ab82ce"
            ]
        ]
    },
    {
        "id": "2d5d326.6ab82ce",
        "type": "multiblindcontroller",
        "z": "1bab6ce7.cff683",
        "name": "",
        "x": 437.5,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "70c4ebdd.5948c4",
        "type": "debug",
        "z": "1bab6ce7.cff683",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 630.5,
        "y": 478,
        "wires": []
    },
    {
        "id": "4d42cd6.0d26734",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing blindPosition",
        "topic": "blindPosition",
        "payload": "{\"channel\": 1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 147.5,
        "y": 480,
        "wires": [
            [
                "2d5d326.6ab82ce"
            ]
        ]
    },
    {
        "id": "19dfe4f4.36aecb",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "blindPosition < 0",
        "topic": "blindPosition",
        "payload": "{\"channel\": 1, \"blindPosition\": -1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 127.5,
        "y": 523,
        "wires": [
            [
                "2d5d326.6ab82ce"
            ]
        ]
    },
    {
        "id": "eb380be5.6f4ea8",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "blindPosition > 100",
        "topic": "blindPosition",
        "payload": "{\"channel\": 1, \"blindPosition\": 101}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 137,
        "y": 564,
        "wires": [
            [
                "2d5d326.6ab82ce"
            ]
        ]
    },
    {
        "id": "f67999c6.a64628",
        "type": "comment",
        "z": "1bab6ce7.cff683",
        "name": "Sun Position Validations",
        "info": "",
        "x": 131.5,
        "y": 611,
        "wires": []
    },
    {
        "id": "7a9c43d1.d73d1c",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing sunInSky",
        "topic": "sun",
        "payload": "{\"azimuth\": 270, \"altitude\": 10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125.5,
        "y": 650,
        "wires": [
            [
                "403a5772.1e8f28"
            ]
        ]
    },
    {
        "id": "403a5772.1e8f28",
        "type": "multiblindcontroller",
        "z": "1bab6ce7.cff683",
        "name": "",
        "x": 438.5,
        "y": 685,
        "wires": [
            [
                "3f9cf718.483cb8"
            ]
        ]
    },
    {
        "id": "3f9cf718.483cb8",
        "type": "debug",
        "z": "1bab6ce7.cff683",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 625.5,
        "y": 685,
        "wires": []
    },
    {
        "id": "ff8fd60c.fcfb58",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing azimuth",
        "topic": "sun",
        "payload": "{\"sunInSky\": true, \"altitude\": 10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125.5,
        "y": 691,
        "wires": [
            [
                "403a5772.1e8f28"
            ]
        ]
    },
    {
        "id": "8608564.d9e32a8",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing altitude",
        "topic": "sun",
        "payload": "{\"sunInSky\": true, \"azimuth\": 270}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 126.5,
        "y": 731,
        "wires": [
            [
                "403a5772.1e8f28"
            ]
        ]
    },
    {
        "id": "b18a7f6.4d5198",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid sunInSky",
        "topic": "sun",
        "payload": "{\"sunInSky\": \"true\", \"azimuth\": 270, \"altitude\": 10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125.5,
        "y": 769,
        "wires": [
            [
                "403a5772.1e8f28"
            ]
        ]
    },
    {
        "id": "dfe917ba.d42798",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid altitude ",
        "topic": "sun",
        "payload": "{\"sunInSky\": true, \"altitude\": \"abc\", \"azimuth\": 270}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 115.5,
        "y": 806,
        "wires": [
            [
                "403a5772.1e8f28"
            ]
        ]
    },
    {
        "id": "5fc79a63.240824",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Altitude > 90",
        "topic": "sun",
        "payload": "{\"sunInSky\": true, \"altitude\": 91, \"azimuth\": 270}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 115.5,
        "y": 842,
        "wires": [
            [
                "403a5772.1e8f28"
            ]
        ]
    },
    {
        "id": "379dd48c.ac121c",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid azimuth",
        "topic": "sun",
        "payload": "{\"sunInSky\": true, \"altitude\": 10, \"azimuth\": \"abc\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 126.5,
        "y": 879,
        "wires": [
            [
                "403a5772.1e8f28"
            ]
        ]
    },
    {
        "id": "5fd52304.63790c",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Azimuth < 0",
        "topic": "sun",
        "payload": "{\"sunInSky\": true, \"altitude\": 10, \"azimuth\": -1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 116.5,
        "y": 917,
        "wires": [
            [
                "403a5772.1e8f28"
            ]
        ]
    },
    {
        "id": "7f420ccb.afdca4",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Azimuth > 360",
        "topic": "sun",
        "payload": "{\"sunInSky\": true, \"altitude\": 10, \"azimuth\": 361}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 116,
        "y": 953,
        "wires": [
            [
                "403a5772.1e8f28"
            ]
        ]
    },
    {
        "id": "734a6d64.d0b484",
        "type": "comment",
        "z": "1bab6ce7.cff683",
        "name": "Blind Validations - Mandatory Properties",
        "info": "",
        "x": 186.5,
        "y": 1004,
        "wires": []
    },
    {
        "id": "14864fc5.58c2e",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing channel",
        "topic": "blind",
        "payload": "{\"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125.5,
        "y": 1048,
        "wires": [
            [
                "376a8213.faf8ae"
            ]
        ]
    },
    {
        "id": "376a8213.faf8ae",
        "type": "multiblindcontroller",
        "z": "1bab6ce7.cff683",
        "name": "",
        "x": 422.5,
        "y": 1162,
        "wires": [
            [
                "24354400.6f641c"
            ]
        ]
    },
    {
        "id": "24354400.6f641c",
        "type": "debug",
        "z": "1bab6ce7.cff683",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 627.5,
        "y": 1163,
        "wires": []
    },
    {
        "id": "45a92ae9.93b174",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing orientation",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 135.5,
        "y": 1088,
        "wires": [
            [
                "376a8213.faf8ae"
            ]
        ]
    },
    {
        "id": "8fe02f1e.55a91",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing noffset",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125.5,
        "y": 1126,
        "wires": [
            [
                "376a8213.faf8ae"
            ]
        ]
    },
    {
        "id": "ed5f4a2e.049d08",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing poffset",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125.5,
        "y": 1166,
        "wires": [
            [
                "376a8213.faf8ae"
            ]
        ]
    },
    {
        "id": "14a3dc51.353744",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing top",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 115.5,
        "y": 1205,
        "wires": [
            [
                "376a8213.faf8ae"
            ]
        ]
    },
    {
        "id": "a8d3810a.0d169",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing bottom",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 125.5,
        "y": 1244,
        "wires": [
            [
                "376a8213.faf8ae"
            ]
        ]
    },
    {
        "id": "5568cb96.31d2c4",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing depth",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 115.5,
        "y": 1283,
        "wires": [
            [
                "376a8213.faf8ae"
            ]
        ]
    },
    {
        "id": "b243c80d.698ef8",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Missing increment",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 134.5,
        "y": 1320,
        "wires": [
            [
                "376a8213.faf8ae"
            ]
        ]
    },
    {
        "id": "3134e0a0.42d18",
        "type": "comment",
        "z": "1bab6ce7.cff683",
        "name": "Blind Validations - Property Values",
        "info": "",
        "x": 167.5,
        "y": 1370,
        "wires": []
    },
    {
        "id": "4b37fca2.52dc14",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid orientation",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": \"abc\", \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 134.5,
        "y": 1419,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "9075e072.590da",
        "type": "multiblindcontroller",
        "z": "1bab6ce7.cff683",
        "name": "",
        "x": 694.5,
        "y": 2529,
        "wires": [
            [
                "349d246c.e4f8fc"
            ]
        ]
    },
    {
        "id": "349d246c.e4f8fc",
        "type": "debug",
        "z": "1bab6ce7.cff683",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 898.5,
        "y": 2528,
        "wires": []
    },
    {
        "id": "ae05e41f.90f188",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Orientation < 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": -1, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 123.5,
        "y": 1460,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "6cf412b.2dcdaec",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Orientation > 360",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 361, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 124.5,
        "y": 1499,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "89018dec.77beb",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid mode",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"mode\": 1, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 114.5,
        "y": 1539,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "399d5e83.b39e32",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid mode - value",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"mode\": \"autumn\", \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 134.5,
        "y": 1579,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "c30c2ec7.ace53",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid noffset",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": \"abc\", \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 114.5,
        "y": 1618,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "25611f3a.90218",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "noffset < 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": -1, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 104.5,
        "y": 1657,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "e24522f8.d5dd9",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "noffset > 90",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 91, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 114.5,
        "y": 1696,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "eb769c96.c00f",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid poffset",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": \"abc\", \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 114.5,
        "y": 1737,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "5c3334d7.91f2cc",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "poffset < 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": -1, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 103.5,
        "y": 1777,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "553691b.2fc757",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "poffset > 90",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 91, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 113.5,
        "y": 1818,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "99cc2204.c1097",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid top",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": \"abc\", \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 102.5,
        "y": 1860,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "f4aa74f6.c59098",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "top <= 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 0, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 103.5,
        "y": 1899,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "e9b1f01c.96969",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid bottom",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": \"abc\", \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 113.5,
        "y": 1938,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "d8e33fcb.be8ba",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "bottom < 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": -1, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 103.5,
        "y": 1976,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "63d186f6.e980c8",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid depth",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": \"abc\", \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 113.5,
        "y": 2015,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "6ca7a1bc.13dfe",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "depth < 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": -1, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 102.5,
        "y": 2054,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "21b60f04.51103",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "top < bottom",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 3, \"depth\": 1.5, \"increment\": 25}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 112.5,
        "y": 2093,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "5a882f29.578f6",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid increment",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": \"abc\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 121.5,
        "y": 2133,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "7196a76e.dc7d28",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "increment < 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": -1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110.5,
        "y": 2175,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "79f63e7.dcb61c",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "increment > 100",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 101}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120.5,
        "y": 2215,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "737d11cb.f1502",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "increment not a factor of 100",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 3}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160.5,
        "y": 2255,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "18234490.ea072b",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid maximum open position",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"maxopen\": \"abc\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 169.5,
        "y": 2294,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "225f6502.62b6ea",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Maximum open position < 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"maxopen\": -1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 159.5,
        "y": 2333,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "14d9f7ee.4cfd38",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Maximum open position > 100",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"maxopen\": 101}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 159.5,
        "y": 2372,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "5e9b7a7.5778784",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Increment is not a factor of maximum open position",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"maxopen\": 80}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 228.5,
        "y": 2412,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "9d687a9e.5dd038",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid maximum closed position",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"maxclosed\": \"abc\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 168,
        "y": 2451,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "79b0f9b5.5be818",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Maximum closed position < 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"maxclosed\": -1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 158,
        "y": 2490,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "cda49a24.cee948",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Maximum closed position > 100",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"maxclosed\": 101}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 168,
        "y": 2529,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "1d20c3a2.cb806c",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Increment is not a factor of maximum closed position",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"maxclosed\": 80}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 237,
        "y": 2569,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "b50757af.0bfbb8",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Maximum open position > maximum closed position",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"maxopen\": 75, \"maxclosed\": 50}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 225.5,
        "y": 2608,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "26182319.b2adcc",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid altitude threshold",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"altitudethreshold\": \"abc\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145.5,
        "y": 2647,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "51e298cb.6090a8",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Altitude threshold < 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"altitudethreshold\": -1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 135.5,
        "y": 2685,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "e833c17f.fe2e1",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Altitude threshold > 90",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"altitudethreshold\": 91}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 135.5,
        "y": 2723,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "7b08882e.a00338",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid clouds threshold",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"cloudsthreshold\": \"abc\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 134.5,
        "y": 2761,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "f6568e4d.9358a",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Clouds threshold < 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"cloudsthreshold\": -1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 132.5,
        "y": 2799,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "761f576.72fd4a8",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Clouds threshold > 1",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"cloudsthreshold\": 1.1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 133.5,
        "y": 2837,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "bed4d2af.5c0ac",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Invalid night position",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"nightposition\": \"abc\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 121.5,
        "y": 2876,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "45c953ea.c2978c",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Night position < 0",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"nightposition\": -1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120.5,
        "y": 2915,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "6f97b0d9.9f02c",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Night position > 100",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"nightposition\": 101}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120.5,
        "y": 2954,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    },
    {
        "id": "c0c41cde.1335d",
        "type": "inject",
        "z": "1bab6ce7.cff683",
        "name": "Night position is not a multiple of increment",
        "topic": "blind",
        "payload": "{\"channel\": 1, \"orientation\": 270, \"noffset\": 90, \"poffset\": 90, \"top\": 2.5, \"bottom\": 0, \"depth\": 1.5, \"increment\": 25, \"nightposition\": 80}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200.5,
        "y": 2992,
        "wires": [
            [
                "9075e072.590da"
            ]
        ]
    }
]
