test/flows.json
[
  {
    "id": "555fe71d.aaa018",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "Initialise Blind",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 98,
    "wires": [
      [
        "88109666.77ef68",
        "db0a584d.24f5a8",
        "914037f7.6ebfc8",
        "19be30c6.e641cf"
      ]
    ]
  },
  {
    "id": "88109666.77ef68",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "Initialise Blind 1 - 0",
    "func": "msg.payload = {channel: 1, orientation: 0, noffset:45, poffset: 45,top:250, bottom:50, depth:999, increment:5, mode: \"Summer\"};\nmsg.topic = \"blind\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 286,
    "y": 98,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "c9313324.36ced",
    "type": "debug",
    "z": "e5e2002e.1a1e",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 975,
    "y": 250,
    "wires": []
  },
  {
    "id": "6aa760b2.9558a",
    "type": "multiblindcontroller",
    "z": "e5e2002e.1a1e",
    "name": "",
    "x": 1012,
    "y": 495,
    "wires": [
      [
        "c9313324.36ced"
      ]
    ]
  },
  {
    "id": "5ab2a186.a54d6",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 102,
    "y": 273,
    "wires": [
      [
        "736f1787.8c90e8"
      ]
    ]
  },
  {
    "id": "736f1787.8c90e8",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T07:10:24.393Z\",\"altitude\":0.6817763956460959,\"azimuth\":97.78310821568581",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":0.6817763956460959,\"azimuth\":97.78310821568581};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 506,
    "y": 273,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "db0a584d.24f5a8",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "Initialise Blind 2 - 90",
    "func": "msg.payload = {channel: 2, orientation: 90, noffset:45, poffset: 45,top:250, bottom:50, depth:999, increment:5, mode: \"Summer\"};\nmsg.topic = \"blind\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 287,
    "y": 140,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "914037f7.6ebfc8",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "Initialise Blind 3 - 180",
    "func": "msg.payload = {channel: 3, orientation: 180, noffset:45, poffset: 45,top:250, bottom:50, depth:999, increment:5, mode: \"Summer\"};\nmsg.topic = \"blind\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 286,
    "y": 180,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "19be30c6.e641cf",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "Initialise Blind 4 - 270",
    "func": "msg.payload = {channel: 4, orientation: 270, noffset:45, poffset: 45,top:250, bottom:50, depth:999, increment:5, mode: \"Summer\"};\nmsg.topic = \"blind\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 286,
    "y": 220,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "1d63b2f3.e29c4d",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T07:20:24.425Z\",\"altitude\":2.5938065928245475,\"azimuth\":99.37692676525464",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":2.5938065928245475,\"azimuth\":99.37692676525464};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 507,
    "y": 312,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "379b3cd.fc864c4",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T07:30:24.445Z\",\"altitude\":4.497017778953673,\"azimuth\":100.98363597564241",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":4.497017778953673,\"azimuth\":100.98363597564241};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 507,
    "y": 353,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "c818a32f.37e76",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T07:40:24.464Z\",\"altitude\":6.38986281384144,\"azimuth\":102.60682576693",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":6.38986281384144,\"azimuth\":102.60682576693};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 493,
    "y": 392,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "374982c1.c8b67e",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T07:50:24.487Z\",\"altitude\":8.270714159259276,\"azimuth\":104.2501159010184",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":8.270714159259276,\"azimuth\":104.2501159010184};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 506,
    "y": 432,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "3ccf30cd.c330d",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T08:00:24.510Z\",\"altitude\":10.137842579540207,\"azimuth\":105.91716345559685",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":10.137842579540207,\"azimuth\":105.91716345559685};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 515,
    "y": 473,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "2a27d8f0.d5d828",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T08:10:24.529Z\",\"altitude\":11.989432226721549,\"azimuth\":107.61170083651785",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":11.989432226721549,\"azimuth\":107.61170083651785};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 513,
    "y": 513,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "438183ec.bc7e7c",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T17:40:24.878Z\",\"altitude\":9.49455132385897,\"azimuth\":254.8745886658086",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":9.49455132385897,\"azimuth\":254.8745886658086};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 505,
    "y": 802,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "ed704567.128fb8",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T17:50:24.889Z\",\"altitude\":7.624275270852879,\"azimuth\":256.53603426006214",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":7.624275270852879,\"azimuth\":256.53603426006214};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 512,
    "y": 844,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "78b2624e.874d9c",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T18:00:24.899Z\",\"altitude\":5.741028091029635,\"azimuth\":258.17523461524775",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":5.741028091029635,\"azimuth\":258.17523461524775};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 512,
    "y": 886,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "8697b19a.79685",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T18:10:24.910Z\",\"altitude\":3.846500081591039,\"azimuth\":259.79584742653503",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":3.846500081591039,\"azimuth\":259.79584742653503};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 515,
    "y": 926,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "51b220cc.ae4de",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T18:20:24.922Z\",\"altitude\":1.94231961971291,\"azimuth\":261.401469285341",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":1.94231961971291,\"azimuth\":261.401469285341};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 503,
    "y": 967,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "711a175c.8ee5e8",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T18:30:24.935Z\",\"altitude\":0.030059333136498206,\"azimuth\":262.995658181589",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":0.030059333136498206,\"azimuth\":262.995658181589};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 519,
    "y": 1009,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "9a0a55d0.65f5a8",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T18:40:24.945Z\",\"altitude\":-1.8887389118866331,\"azimuth\":264.58194101656466",
    "func": "msg.payload = { \"sunInSky\": false, \"altitude\":-1.8887389118866331,\"azimuth\":264.58194101656466};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 520,
    "y": 1049,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "229bf616.dd640a",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 101,
    "y": 313,
    "wires": [
      [
        "1d63b2f3.e29c4d"
      ]
    ]
  },
  {
    "id": "c564410a.3a9bc",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "3",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 101,
    "y": 352,
    "wires": [
      [
        "379b3cd.fc864c4"
      ]
    ]
  },
  {
    "id": "bb4b4117.44b4c",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "4",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 102,
    "y": 392,
    "wires": [
      [
        "c818a32f.37e76"
      ]
    ]
  },
  {
    "id": "6f5131f2.90aed",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 102,
    "y": 432,
    "wires": [
      [
        "374982c1.c8b67e"
      ]
    ]
  },
  {
    "id": "cb1e02a6.34e2",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "6",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 102,
    "y": 473,
    "wires": [
      [
        "3ccf30cd.c330d"
      ]
    ]
  },
  {
    "id": "ff1ac6d1.00e538",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "7",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 102,
    "y": 514,
    "wires": [
      [
        "2a27d8f0.d5d828"
      ]
    ]
  },
  {
    "id": "d10d78b9.2ef288",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "8",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 104,
    "y": 557,
    "wires": [
      [
        "62e788e7.9d1878"
      ]
    ]
  },
  {
    "id": "248df113.db720e",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "9",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 101,
    "y": 600,
    "wires": [
      [
        "8ce365de.731c98"
      ]
    ]
  },
  {
    "id": "c4e746be.3b18b8",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "10",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 101,
    "y": 640,
    "wires": [
      [
        "b6bfc81c.494038"
      ]
    ]
  },
  {
    "id": "581e484d.a7e1b8",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "11",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 684,
    "wires": [
      [
        "5870322d.a78fcc"
      ]
    ]
  },
  {
    "id": "c3d8d6d5.3c2728",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "12",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 724,
    "wires": [
      [
        "4f2ff787.b0d008"
      ]
    ]
  },
  {
    "id": "f24525aa.0dbad8",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "13",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 764,
    "wires": [
      [
        "a48b6446.5b7498"
      ]
    ]
  },
  {
    "id": "e182b303.1e7d5",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "14",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 99,
    "y": 803,
    "wires": [
      [
        "438183ec.bc7e7c"
      ]
    ]
  },
  {
    "id": "62e788e7.9d1878",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T09:32:00.000Z\",\"altitude\":26.25,\"azimuth\":122.97",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":26.25,\"azimuth\":122.97};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 514,
    "y": 558,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "8ce365de.731c98",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T10:28:00.000Z\",\"altitude\":34.62,\"azimuth\":135.92",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":34.62,\"azimuth\":135.92};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 513,
    "y": 602,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "b6bfc81c.494038",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T12:49:00.000Z\",\"altitude\":45.11,\"azimuth\":180.21",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":45.11,\"azimuth\":180.21};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 513,
    "y": 639,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "5870322d.a78fcc",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T14:34:00.000Z\",\"altitude\":38.95,\"azimuth\":214.69",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":38.95,\"azimuth\":214.69};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 512,
    "y": 683,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "4f2ff787.b0d008",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T15:01:00.000Z\",\"altitude\":35.71,\"azimuth\":222.11",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":35.71,\"azimuth\":222.11};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 511,
    "y": 724,
    "wires": [
      [
        "6aa760b2.9558a"
      ]
    ]
  },
  {
    "id": "a48b6446.5b7498",
    "type": "function",
    "z": "e5e2002e.1a1e",
    "name": "\"time\":\"2016-03-06T16:00:00.000Z\",\"altitude\":27.10,\"azimuth\":236.08",
    "func": "msg.payload = { \"sunInSky\": true, \"altitude\":27.10,\"azimuth\":236.08};\nmsg.topic   = \"sun\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 512,
    "y": 764,
    "wires": [
      []
    ]
  },
  {
    "id": "1450e6ea.ebaf19",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "15",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 99,
    "y": 845,
    "wires": [
      [
        "ed704567.128fb8"
      ]
    ]
  },
  {
    "id": "f940514e.06bfb",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "16",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 97,
    "y": 887,
    "wires": [
      [
        "78b2624e.874d9c"
      ]
    ]
  },
  {
    "id": "90b258ba.6f4da8",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "17",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 98,
    "y": 926,
    "wires": [
      [
        "8697b19a.79685"
      ]
    ]
  },
  {
    "id": "1109f4e9.eef60b",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "18",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 97,
    "y": 967,
    "wires": [
      [
        "51b220cc.ae4de"
      ]
    ]
  },
  {
    "id": "2a163507.d5e9ca",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "19",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 97,
    "y": 1007,
    "wires": [
      [
        "711a175c.8ee5e8"
      ]
    ]
  },
  {
    "id": "66f1c22d.990e3c",
    "type": "inject",
    "z": "e5e2002e.1a1e",
    "name": "20",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 95,
    "y": 1049,
    "wires": [
      [
        "9a0a55d0.65f5a8"
      ]
    ]
  }
]
